@charset "UTF-8";
/* CSS Document */

#firstline{
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-size: 50px;
	color: #676767;
	text-align: left;
	font-weight: bold
	
}

#secondline{
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-size: 50px;
	color: #676767;
	text-align: center;
	font-weight: bold;
	
}

#thirdline{
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-size: 50px;
	color:#676767;
	text-align: right;
	font-weight: bold;
}

#gif2{
	margin-top: 350px;
	margin-left: 500px;
	margin-right: 500px;
	float: inherit;
	
}

#gif1{
	margin-top:400px;
	margin-left:500px;
	margin-right:500px;
	float:inherit;
	
}

#gif3{
	margin-top:400px;
	margin-left:500px;
	margin-right:500px;
	float:inherit;
}

a,u{
	text-decoration: none;
}
